<div id="resto<%= restaurant.id %>">
  <p>
    <em>Name:</em>
    <strong><%= restaurant.name %>
    </strong>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </p>

</div>
