<div class="container">
  <div class="card mb-3 resto">
    <%= render @restaurant %>
  </div>
  <div class="card mb-3 reviews">
    <h3>Reviews</h3>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li>
          <div class="card mb-3 review">
            <%= review.content %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="container">
    <h1>Add your own review</h1>
    <%= simple_form_for([@restaurant, @review]) do |f| %>
      <%= f.input :rating, as: :integer %>
      <%= f.input :content, as: :text %>
      <%= f.submit 'Submit your review', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
